@* worklogs Template File *@
@* @(paramsForm: Form[ReportParams])(implicit messages: Messages) *@

@* @(params: ReportParams) *@

@import helper._

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Worklogs View</title>
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
    <script src='@routes.Assets.versioned("javascripts/hello.js")' type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" media="screen"
          href='@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-united", "bootstrap.min.css"))'>

    @* Optional theme *@
    <link rel="stylesheet" media="screen"
          href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap", "bootstrap-theme.min.css"))'>

    <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("html5shiv.js"))'></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("respond.min.js"))'></script>
    <![endif]-->

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
</head>
<body ng-app="planty-jira-ng">
<div class="container">
    <form id="queryForm" ng-controller="reportParamsController">
        <div class="row">
            <h3>Connection Config</h3>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Base URL</label>
                    <div class="col-sm-10">
                        <input type="url" ng-model="reportParams.baseUrl" name="baseUrl" class="form-control">
                        <span class="help-block">Required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-4">
                        <input type="text" ng-model="reportParams.username" name="username" class="form-control">
                        <span class="help-block">Required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-4">
                        <input type="password" ng-model="reportParams.password" name="password" class="form-control">
                        <span class="help-block">Required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">From</label>
                    <div class="col-sm-4">
                        <input type="text" ng-model="reportParams.fromDate" name="fromDate" class="form-control">
                        <span class="help-block">Date ('yyyy-MM-dd')</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">To</label>
                    <div class="col-sm-4">
                        <input type="text" ng-model="reportParams.toDate" name="toDate" class="form-control">
                        <span class="help-block">Date ('yyyy-MM-dd')</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>JIRA Query String</h3>
            <div class="form-group">
                <div class="col-md-8">
                    <div class="col-sm-12">
                        <input type="text" ng-model="reportParams.jiraQuery" name="jiraQuery" class="form-control">
                        <span class="help-block">&nbsp;</span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Author's Username</label>
                        <div class="col-sm-4">
                            <input type="text" ng-model="reportParams.author" name="author" class="form-control"
                                   placeholder="{{reportParams.username}}">
                            <span class="help-block">Optional</span>
                        </div>
                    </div>
                    <div class="actions">
                        @*<input type="submit" value="Retrieve Worklogs" id="querySubmit" class="btn btn-primary">*@
                        <button class="btn btn-primary has-spinner" ng-click="submitParams($event)" ng-disabled="error || incomplete">
                            <span class="glyphicon glyphicon-search"></span>
                            &nbsp; Retrieve Worklogs &nbsp;
                            <span class="spinner"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <h3>Query Result</h3>
        <div class="col-md-8">
            <table id="worklogsTable" ng-controller="worklogsController" class="table table-striped">
                <thead>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Duration</th>
                </thead>
                <tbody>
                    <tr ng-repeat="worklog in worklogs">
                        <td>{{worklog.date}}</td>
                        <td>{{worklog.description}}</td>
                        <td>{{worklog.duration}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>Total:</td>
                        <td>{{ calcTotalDuration() }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
 ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>

<!-- Latest compiled and minified JavaScript -->
<script src='@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch-united", "bootstrap.min.js"))'></script>

<script type="text/javascript">

    var app = angular.module('planty-jira-ng', []);
    app.controller('reportParamsController', function($scope, $http) {
        $http.get("/initParams").success(function(response) {
            $scope.reportParams = response;
            $scope.reportParams.tzOffsetMinutes = new Date().getTimezoneOffset();
        });
        $scope.submitParams = function(e) {
            angular.element($('#worklogsTable')).scope().retrieveWorklogs(e, $scope.reportParams);
        };
    });
    app.controller('worklogsController', function($scope, $http) {
        $scope.worklogs = [];
        $scope.retrieveWorklogs = function(e, reportParams) {
            $(e.target).toggleClass('active');

            $http.post('/worklogs', reportParams, {})
            .then(function(response) {
                $scope.worklogs = response.data.entries;
                $(e.target).toggleClass('active');

            }, function(response) {
                $(e.target).toggleClass('active');
            });
        };
        $scope.calcTotalDuration = function() {
            var total = 0;
            for(var i = 0; i < $scope.worklogs.length; i++){
                total += $scope.worklogs[i].duration;
            }
            return total;
        }
    });

</script>

</body>
</html>